@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');


body, html{height:100%; width:100%;}
body{
	background-color: #F4F6F9;
	overflow: hidden;
}
*{
	font-family: 'Cabin', sans-serif;
}
.top_alert{
    z-index: 6;
    position: fixed;
    margin: 0px auto;
    top: 25px;
    width: 500px;
    left: calc(50%);
    margin-left: -250px;
}
#nav{
	width:250px;
	float:left;
	background-color:#343A40;
	height:100%;
	position:fixed;
	z-index: 999;
	box-shadow: 2px 57px 10px #636363;
	-moz-box-shadow: 2px 57px 10px #636363;
	-ms-box-shadow: 2px 57px 10px #636363;
	-o-box-shadow: 2px 57px 10px #636363;
	-webkit-box-shadow: 2px 57px 10px #636363;
	display: flex;
	transition: transform 0.3s ease-in-out;
}
#nav ul{
	padding:0px;
	margin-bottom: 0px;
	display: flex;
	flex-direction: column;
	width: 100%;
}
#nav li{
	list-style-type:none;
	padding: 0px 12px;
	overflow: hidden;
}
#nav li i{
	float: right;
	font-size: 14px;
	margin-top: 5px;
	transition: 0.3s all linear;
	-moz-transition: 0.3s all linear;
	-ms-transition: 0.3s all linear;
	-o-transition: 0.3s all linear;
	-webkit-transition: 0.3s all linear;
}
#nav li a{
	padding:16px 18px;
	width:100%;
	display:block;
	font-size:16px;
	color:#d8d8d8;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	margin: 2.5px 0px;
}
#nav .nav_items{
	overflow-y: scroll;
	padding: 15px 0px;
	flex-grow: 1;
}
#nav .nav_items::-webkit-scrollbar {
	width: 6px;
}
#nav .nav_items::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
	background-color: #e8e8e8;
}
#nav .nav_items::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}
#nav .sub_nav_item{
	overflow: hidden;
}
#nav .sub_nav_item a{
	width: 90%;
	float: right;
}
.dropdown_items{
	overflow: hidden;
	display: none;
}
.dropdown_items.show{
	height: 250px;
}
#nav li a:hover{
	text-decoration:none;
	background-color: #ffffff21;
}
#nav li a:active{
	text-decoration:none;
	background-color:#ffffff3b;
}
#nav .activenav{
	background-color: #4179a9;
    color: #FFF;
}
#nav .activenav:hover{
	background-color: #4179a9;
}
#nav .admin_nav_item a{
	background-color: #575757;;
}
#nav .logo{
	padding:15px 40px;
	border-bottom: 1px #ffffff2e solid;
	width:100%;
	display:block;
	font-size:17px;
	background-color: #f3f3f3;
	color:#e4e4e4;
	font-family: 'Raleway', sans-serif;
	flex-shrink: 0;
}
#nav .logo img{
	width: 100%;
}
#nav .nav_user_name{
	padding:19px 19px;
	border-bottom: 1px #ffffff2e solid;
	width:100%;
	display:block;
	font-size:15px;
	color:#e4e4e4;
	font-family: 'Raleway', sans-serif;
	flex-shrink: 0;
}
#content{
	width:calc(100% - 250px);
	float:right;
	background-color:#F4F6F9;
	padding:15px;
	height:calc(100vh - 55px);
	overflow-y: scroll;
	transition: width 0.3s ease-in-out;
}
.content-full {
    width: 100% !important;
}
.pageTitle{
	padding-bottom:15px;
	font-family: 'Source Sans Pro', sans-serif;
}
.pageTitle span{
	font-size: 21px;
}
#top_nav{
	width:calc(100% - 250px);
	float:right;
	background-color: #FFF;
	height: 56.5px;
	border-bottom: 1px #d2d2d2 solid;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: width 0.3s ease-in-out;
}
#top_nav .page_title{
	color: #464646;
    font-family: 'Raleway', sans-serif;
    margin-left: 45px;
    font-size: 19px;
    font-weight: 500;
}
#top_nav .activenav{
	color: #5a5a5a;
	font-weight: 600;
	border-bottom: 3px solid #696969;
    padding-bottom: 14px;
}
#top_nav ul{
	padding: 0px;
	margin: 0px;
}
#top_nav li{
	list-style: none;
	float: left;
}
#top_nav li.logout{
	float: right;
}
#top_nav li.logout i{
	padding-left: 4px;
}
#top_nav a{
	padding: 16px 18px;
	display: block;
	color: #616161;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
}
#top_nav a:hover{
	text-decoration: none;
}
/**/
.new_button {
    float: right;
    background-color: #B7860C;
    border: 1px solid #FFF;
    padding: 7px 8px;
    color: #FFF;
    transition: 0.1s all linear;
    -ms-transition: 0.1s all linear;
    -webkit-transition: 0.1s all linear;
}
.modal-header{
	background-color: #4179a9;
	color: #FFF !important;
}
.btn-danger{
	background-color: #951e1e;
	border-color: #6f0a0a;
}
/**/
table{
	box-shadow: 0px 4px 9px -2px #5f5f5f82;
	-webkit-box-shadow: 0px 4px 9px -2px #5f5f5f82;
	-moz-box-shadow: 0px 4px 9px -2px #5f5f5f82;
	-ms-box-shadow: 0px 4px 9px -2px #5f5f5f82;
	-o-box-shadow: 0px 4px 9px -2px #5f5f5f82;
	width: 95% !important;
	margin: 0 auto;
	margin-top: 75px;
}
/**/
.invalid_input{
	border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.previous_icon {
    color: #333;
    font-size: 32px;
    float: left;
    margin-right: 8px;
}
/**/
.table{
	position: relative;
}
.sen_table-striped tbody tr:nth-of-type(even) td,
.sen_table-striped tbody tr:nth-of-type(even) th{
	background-color: #f5f5f5;
}
.sen_table-striped tbody tr:nth-of-type(odd) td,
.sen_table-striped tbody tr:nth-of-type(odd) th {
	background-color: #FFF;
}
.table .thead-dark th {
	color: #fff;
	background-color: #343a40;
	border-color: #454d55;
}
.table th, .table td {
	font-weight: 400;
	font-family: 'Cabin', sans-serif;
	padding: .75rem;
}
.table th, .table td {
	border-right: 1px solid #dee2e6;
}
.icon_wrap{
    /* display: flex; */
	width: 100px;
}
.icon{
    font-size: 15px;
    margin-right: 5px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.icon i{
    color: #FFF;
}
.delete_icon{
    background-color: #8a1212;
}
.edit_icon{
    background-color: #12408a;
}
/**/
@media screen and (max-width:1500px){
	#nav{
		width: 225px;
	}
	#content{
		width: calc(100% - 225px);
	}
	#top_nav{
		width: calc(100% - 225px);
	}
}
@media screen and (max-width:1170px){
	table{
		width: 92% !important;
	}
}
/**/
.select_audio_wrap{
	background-color: #fff;
    box-shadow: 0px 0px 17px -6px #8f8f8f;
    border-radius: 12px;
    width: 80%;
    margin: 0px auto;
	margin-top: 75px;
	padding: 30px 30px;
}
.select_audio_wrap .col-md-6, .select_audio_wrap .col-12{
	margin-bottom: 22px;
}
.select_audio_wrap button{
	border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #1d62a7;
    color: #FFF;
}
.select_audio_wrap button, .select_audio_wrap label, .select_audio_wrap input, .select_audio_wrap select{
	font-family: 'Cabin', sans-serif;
}
/**/
.label_cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}
.label_cards div{
    padding: 12px 15px;
    background-color: #eee;
    font-weight: 500;
}
/**/
.pupils{
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
	width: 95%;
	margin: 0 auto;
	margin-top: 75px;
}
.pupils .pupil{
	background-color: #FFF;
	/* flex: 1 1 calc(50% - 12.5px); */
	flex: 1 1 100%;
	border-radius: 8px;
	border: 1px solid #bfbfbf;
}
.pupils .pupil .top{
	border-bottom: 1px solid #eee;
	padding: 15px 25px;
	color: #333;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.pupils .pupil .top .label{
	font-family: 'Cabin', sans-serif;
	font-size: 18px;
	font-weight: 500;
}
.pupils .pupil .top .more_details{
	font-family: 'Cabin', sans-serif;
	padding: 8px 12px;
	background-color: #5388b6;
	color: #FFF;
	margin-right: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
    cursor: pointer;
    line-height: normal;
    border-style: outset;
    border-width: 2px;
    border-color: buttonface;
    color: white;
}
.pupils .pupil .top .more_details:active {
    border-style: inset;
}
.pupils .pupil .bottom{
	padding: 15px 25px;
	padding-bottom: 0px;
}
.pupils .pupil hr{
	border-color: #ccc;
}
.pupils .pupil .border_right-md {
    border-right: 1px solid #eee;
}
@media (max-width: 768px) {
    .pupils .pupil .border_right-md {
        border-right: none;
    }
}
.pupils .pupil .bottom .item{
	display: flex;
	align-items: flex-start;
	margin-bottom: 15px;
}
.pupils .pupil .bottom .item .label_cards div{
	padding: 5px 12px;
}
.pupils .pupil .bottom .item .label{
	width: 160px;
	font-weight: 500;
}
.pupils .pupil .bottom .item .value{
	display: flex;
	align-items: center;
	color: #444;
}
.pupils .pupil .bottom .item .value.students div{
	font-family: 'Cabin', sans-serif;
}
.pupils .pupil .bottom .item .value span{
	font-family: 'Cabin', sans-serif;
	font-weight: 600;
}
.pupils .pupil .bottom .item .label_cards{
	margin-top: 0px;
}
.pupils .pupil .bottom .item .gap{
	width: 20px;
}
.pupils .pupil .bottom .item i{
	margin-right: 8px;
}
/**/
.sen_icon_wrap{
    display: flex;
}
.sen_icon{
    font-size: 17px;
    margin-right: 12px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
	cursor: pointer;
}
.sen_icon i{
    color: #FFF;
}
.sen_delete_icon{
    background-color: #8a1212;
}
.sen_edit_icon{
    background-color: #12408a;
}
/**/